body {
  background-image: url(https://img.freepik.com/premium-vector/abstract-dark-background-zeros-ad-ones-shades-gray-colors_444390-3371.jpg);
  color: white;
}
nav {
  display: flex;
  margin-left: 50px;
  gap: 450px;
}
.nav-l button {
  border-style: none;
  border-radius: 100%;
  padding: 25px;
  font-size: 35px;
  background-color: rgb(42, 250, 0);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-top: 17px;
}
.nav-l button:hover {
  background-color: rgb(167, 167, 167);
}
.nav-r a {
  text-decoration: none;
  color: rgb(167, 167, 167);
  font-family: 'Arial Narrow Bold', sans-serif;
  font-size: 20px;
  margin: 45px;
}
.nav-r {
  margin-top: 30px;
}
.nav-r a:hover {
  color: rgb(42, 250, 0);
  text-decoration-line: underline;
}
.text {
  margin-left: 20px;
  font-size: 35px;
  font-family: cursive;
  color: rgb(42, 250, 0);
}
div p span {
  font-size: 55px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.btn button {
  font-size: 25px;
  font-weight: bolder;
  border-style: none;
  margin-top: 25px;
  margin-left: 20px;
  background-color: rgb(46, 46, 46);
  color: rgb(42, 250, 0);
  padding: 15px;
  border-radius: 30px;
}
.btn-f {
  margin-left: 70px;
}
.btn button:hover {
  background-color: rgb(42, 250, 0);
  color: rgb(46, 46, 46);
}
.about {
  background-color: rgb(0, 0, 0);
  padding: 2vh;
  text-align: center;
  margin-top: 30vh;
}
.about h2 {
  font-size: 64px;
}
.about p {
  font-size: 32px;
  color: rgb(42, 250, 0);
}
.main-btn {
  border-radius: 20px;
  margin: 3%;
}
.skills {
  text-align: center;
  margin-top: 50vh;
  background-color: black;
}
.skills h2 {
  font-size: 64px;
}
.main-btn span {
  color: rgb(42, 250, 0);
  font-size: 5vh;
  font-weight: bold;
  display: block;
  text-align: start;
  padding: 30px 50px 40px 10px;
}
.skills button {
  border-style: none;
  background-color: rgb(46, 46, 46);
}
.skills p {
  font-size: 32px;
  color: rgb(42, 250, 0);
}
.main-btn button {
  font-size: 25px;
  color: rgb(46, 46, 46);
  background-color: rgb(42, 250, 0);
  padding: 9px 14px;
  margin-right: 3vw;
  border-radius: 25px;
  margin-bottom: 15vh;
}
.main-btn button:hover {
  color: rgb(42, 250, 0);
  background-color: rgb(0, 0, 0);
}
.contact {
  background-color: rgb(0, 0, 0);
  text-align: center;
  margin-top: 35vh;
}
.contact h3 {
  font-size: 64px;
}
.contact p {
  color: rgb(42, 250, 0);
  font-size: 5vh;
}
.contact button {
  padding: 2% 10% 10% 10%;
  border-radius: 25px;
  border-style: none;
  background-color: rgb(46, 46, 46);
}
.contact button label {
  color: rgb(42, 250, 0);
  font-size: 7vh;
}
.contact button input {
  padding: 4vh 3vw;
  border-radius: 25px;
}
.contact button button {
  color: rgb(46, 46, 46);
  background-color: rgb(42, 250, 0);
  font-size: 16px;
  font-weight: bolder;
  margin-top: 10px;
}
.contact button button:hover {
  color: rgb(42, 250, 0);
  background-color: rgb(0, 0, 0);
}
.contact h4 {
  display: block;
  font-size: 6vh;
  color: rgb(42, 250, 0);
  margin: 3vh;
}
.contact textarea {
  resize: none;
}
.footer {
  background-color: rgb(0, 0, 0);
  margin-top: 25vh;
  padding: 10%;
  border-style: none;
  text-align: center;
  display: flex;
  justify-content: space-around;
}
.footer button {
  border-style: none;
  background: none;
}
.footer button a {
  text-decoration: none;
  color: rgb(167, 167, 167);
}

