body {
  background-image: url(https://img.freepik.com/premium-vector/abstract-dark-background-zeros-ad-ones-shades-gray-colors_444390-3371.jpg);
  color: white;
}
nav {
  display: flex;
  margin-left: 50px;
  gap: 300px;
}
.nav-l button {
  border-style: none;
  border-radius: 100%;
  padding: 25px;
  font-size: 35px;
  background-color: rgb(42, 250, 0);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-top: 17px;
}
.nav-l button:hover {
  /* color: rgb(42, 250, 0); */
  background-color: rgb(167, 167, 167);
}
.nav-r a {
  text-decoration: none;
  color: rgb(167, 167, 167);
  font-family: 'Arial Narrow Bold', sans-serif;
  font-size: 20px;
  margin: 45px;
}
.nav-r {
  margin-top: 30px;
}
.nav-r a:hover {
  color: rgb(42, 250, 0);
  text-decoration-line: underline;
}

/* .home:hover {
  color: rgb(42, 250, 0);
  cursor: pointer;
  text-decoration: underline;
}
.about:hover {
  color: rgb(42, 250, 0);
  cursor: pointer;
  text-decoration: underline;
}
.skills:hover {
  color: rgb(42, 250, 0);
  cursor: pointer;
  text-decoration: underline;
}
.experience:hover {
  color: rgb(42, 250, 0);
  cursor: pointer;
  text-decoration: underline;
}
.contact:hover {
  color: rgb(42, 250, 0);
  cursor: pointer;
  text-decoration: underline;
} */
.text {
  margin-left: 20px;
  font-size: 35px;
  font-family: cursive;
  color: rgb(42, 250, 0);
}
span {
  font-size: 55px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.btn button {
  font-size: 25px;
  font-weight: bolder;
  border-style: none;
  margin-top: 25px;
  margin-left: 20px;
  background-color: rgb(46, 46, 46);
  color: rgb(42, 250, 0);
  padding: 15px;
  border-radius: 30px;
}
.btn-f {
  margin-left: 70px;
}
.btn button:hover {
  background-color: rgb(42, 250, 0);
  color: rgb(46, 46, 46);
}
